<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!-- start -->
    <div id="root">

        <div class="container-app">

            <!-- left side app -->
            <div class="left-side">

                <!-- section account -->
                <div class="account">
                    <div class="left-chat">
                        <img src="img/avatar_io.jpg" alt="img avatar chat">
                        <p class="name-account txt-normal">Kristian</p>
                    </div>

                    <div class="icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- section notification -->
                <div class="notifications">
                    <div class="silence">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div class="text-chat">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p ><a class="only-p" href="#!">Attiva notifiche desktop</a></p>
                    </div>
                </div>

                <!-- section search -->
                <div class="search">
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input @keyup="searchName" v-model="searchStr" class="input-txt" type="text" placeholder="Cerca o inizia una nuona chat">
                </div>
    
                <!-- section chat -->
                <div class="all-chat">

                    <div v-for="(element, index) in arrChats" @click="currentChatIndex = index" :class="{hidden: element.name.visible, hidden: !element.name.visible}" class="chat">

                        <div class="txt-avatar">
    
                            <div class="img-avatar">
                                <img :src="'img/' + element.img" alt="img avatar chat">
                            </div>
    
                            <div class="txt">
                                <span class="name-avatar txt-normal">{{ element.name }}</span>
                                <span v-for="(element, index) in arrChats[currentChatIndex].text" class="txt-small">{{ element.newMessage }}</span>
                            </div>
                        </div>
                        <span class="time-mess txt-small">{{ element.time }}</span>
    
                    </div>
    
                </div>

            </div>
        </div>
    

    
            <!-- right side app -->
        <div class="chat-side">

            <div class="right-side">

                <!-- section top name chat -->
                <div class="chat-name">
                    <div class="right-img-txt">
                        <div class="top-chat">
                            <img :src="'img/' + arrChats[currentChatIndex].img" alt="">
                        </div>
        
                        <div class="top-txt">
                            <span>{{arrChats[currentChatIndex].name}}</span>
                            <span class="txt-under">Ultimo accesso {{arrChats[currentChatIndex].date}} </span>
                        </div>
                    </div>

                    <div class="icons-right">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- section central chat -->

                <div class="chat-message">

                    <div class="human">
                        <div v-for="element in arrChats[currentChatIndex].text" 
                        :class="{ myAns: element.sent, bot: !element.sent}" >
                        {{ element.message }}<span class="times">{{ element.time }}</span>
                    </div>
                        
                    </div>

                </div>


                <!-- section text message -->

                <div class="message">
                    <div class="emoticon">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <div class="mess">
                        <input @keyup.enter="addMessage" v-model="newMessage.message" class="input-mess" type="text" placeholder="Scrivi il messaggio">
                    </div>

                    <div class="mic">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>

        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>