*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* class help */

.txt-normal {font-size: 17px; color: black;}
.txt-small {font-size: 14px; color: lightgrey}

.mr-bt{margin-bottom: .5rem;}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* dimension div */

#root{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-app{
    width: 1350px;
    height: 95vh;
}

/* left side chat */

.left-side{
    width: 35%;
}

.account{
    height: 60px;
    background-color: #eaeaea;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-chat{
    padding: 0 .5rem 0 .5rem;
    display: flex;
    align-items: center;
}

.name-account{
    padding-left: .4rem;
}

.icons i{
    font-size: 18px;
    color: #b1b1b1;
    padding: .4rem;
    cursor: pointer;
}

.icons .fa-ellipsis-vertical{
    padding-right: 1rem;
}

/* section notification */

.notifications{
    height: 70px;
    background-color: #8edafc;

    display: flex;
    justify-content: start;
    align-items: center;
}

.silence{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;

    margin-left: .7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.fa-bell-slash{
    font-size: 20px;
    color: #8edafc;
}

.text-chat{
    padding-left: .6rem;
}

.only-p{
    font-size: 14px;
    color: #72a2a8;
}


/* section search */

.search{
    height: 40px;
    background-color: #fafafa;

    display: flex;
    align-items: center;
}

.btn-search{
    margin-left: .8rem;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

.fa-magnifying-glass{
    color: #babdc0;
    padding: .3rem 1.3rem;
}

.input-txt{
    width: 82%;
    padding: .3rem 0;
    border: 1px solid white;
}


/* section chat */

.all-chat{
    overflow-y: scroll;
}

.chat{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;

    cursor: pointer;
}

.chat:hover{
    background-color: #e9ebeb;
}

.txt-avatar{
    display: flex;
}

.img-avatar{
    display: flex;
    align-items: center;
    margin-left: .7rem;
}

.txt{
    margin: .4rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.time-mess{
    margin: .4rem .4rem 0 0;
    display: flex;
    justify-content: end;
}